*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}





img {
    background-color: grey;
}

.content-img {
    display:block;
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 5px;
    background: #eee;
}